<html>
<head>
<title>Home Page</title>
</head>
<body>
{{>header}}
<p>{{shoutOut 'Welcome to my website'}}<p>
<h1>This page is my home, but I, obviously, dont live here</h1>

{{>footer}}
</body>
</html>
