<html>
<head>
<title>My Projects</title>
</head>
<body>
{{>header}}
<h1>I am currently working on following projects.</h1>
<ul>
  <li><a href='https://github.com/guneetbatraoriginal/node-web-server' target="_blank">Node Web Server</a></li>
</ul>
{{>footer}}
</body>
</html>
